{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}


{% block page_header %}
<h2>Add image to {{ recipe.name }}</h2>
{% endblock %}

{% block content %}
    <h4>Made by: {{ recipe.author.name }}</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <a href="{{ recipe.get_absolute_url }}"><button>Go back to the Recipe</button></a>
{% endblock %}