{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h2>{{ recipe.name }}</h2>
    <h4>Made by: {{ recipe.author.name }}</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    <a href="{{ recipe.get_absolute_url }}"><button>{{ recipe.name }}</button></a>
    <a href="{% url 'ledger:recipe-list' %}"><button>Go back to Recipe List</button></a>
{% endblock %}