<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Insert site title{% endblock %}</title>
</head>

<body style="font-family:Helvetica">
    <div id="header"><h1>Recipe Book</h1>
    <a href="/accounts/login"><button>Login</button></a>
    <a href="/accounts/logout"><button>Logout</button></a>
    </div>
    <h2>{% block content %}Page Heading{% endblock %}</h2>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>